body{
	font-family: sans-serif;
	font-style: italic;
}

p{
	color: maroon;
}
blockquote{
	font-style: italic;
}
h1,h2{
	
	color: gray;
	
}
h1{
		border-bottom: 1px solid black;
		letter-spacing: 5px;
			text-align: center;

}
p.greentea{
	color: green;
}
p.raspberryBlue{
	color:blue;
}
p.blueberryPurple{
	color:purple; 
}
p.cranberryRed{
	color: red;
}